# Machine-specific config
shells/machine_config.sh

# Local files
*.core
*.out
convert_pretrained_model/models/
datasets/
huginn_llama/
inductor_cache/
models/*
outputs*/
slurm_logs/
knowledge/

# Python
*$py.class
*.py[cod]
*.pyc
__pycache__/

# Ruff
.ruff_cache/

# UV
.venv/

# W&B
wandb/
